@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Integral CF';
  src: url('/fonts/IntegralCF/Fontspring-DEMO-integralcf-regular.otf') format('opentype');
  font-weight: 400;
  /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF';
  src: url('/fonts/IntegralCF/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF';
  src: url('/fonts/IntegralCF/Fontspring-DEMO-integralcf-medium.otf') format('opentype');
  font-weight: 500;
  /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Integral CF';
  src: url('/fonts/IntegralCF/Fontspring-DEMO-integralcf-heavy.otf') format('opentype');
  font-weight: 900;
  /* Heavy */
  font-style: normal;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}